<div class="text-center">
  <link rel="stylesheet" href="/css/style.css">
  <form action="/register" method="POST" class="form-signin">
    {{#if errors}}
    <div class="alert alert-danger">
      <strong>Registration Failed !</strong>
      <span>{{errors}}</span>
    </div>
    {{/if}}
    {{#if success}}
    <div class="alert alert-success">
      <strong>Registration Finished !</strong>
      <span>{{success}}</span>
    </div>
    {{/if}}
    <span class="pull-right ml-3">
      <h1 class="h3 font-weight-normal">
        <img src="/assets/user_add.svg" width="45px" height="85px"/>
        Register new user
      </h1>
    </span>

    <label for="inputUsername" class="sr-only mb-3">Username</label>
    <input name="username" type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <label for="inputEmail" class="sr-only">E-mail</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="E-mail" required>

    <button type="submit" class="btn btn-lg btn-primary btn-block mt-3">Sign Up</button>
  </form>
</div>
